*
{
    margin: 0;
    padding: 0;
}

.firstDiv
{
    background-color: #354550;
    height: 50px;
    font-size: 13px;


}

.firstDiv p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 40px;
    padding-top: 15px;
    display: inline-block;



}


.secondDiv
{
    background-color: white;
    height: 45px;
    font-size: 13px;

}

.secondDiv .secondDivP
{
    display: inline-block;
    padding: 15px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.secondDiv .secondDivP .notificationCount
{

    background-color: gray;
    color: white;
    width: 30px;
    text-align: center;
    border-radius: 25%;
}

